@import "../app/nullstyle.scss";

%flex {
  display: flex;
}

%openSans {
  font-family: "open_sansregular";
}

%roboto {
  font-family: "robotoregular";
}

.survival {
  margin-top: 123px;
  &__title {
    @extend %openSans;
    font-size: 48px;
    letter-spacing: 2px;
    color: #cd6326;
  }
  &__paragraph {
    @extend %openSans;
    font-size: 18px;
    color: #f7f7f7;
    width: 274px;
    line-height: 27px;
    margin-top: 64px;
  }
  &__button {
    padding: 16px 44px 17px 42px;
    background-color: #cd6326;
    border-radius: 5px;
    color: #f7f7f7;
    margin-top: 49px;
    font-size: 23px;
    line-height: 27px;
    &:hover {
      cursor: pointer;
background-color: #E39128;
    }
    &:active {
      background-color: #8F5613;
    }
  }
}
