@import "../app/nullstyle.scss";

%flex {
  display: flex;
}

%openSans {
  font-family: "open_sansregular";
}

%roboto {
  font-family: "robotoregular";
}

.latest-articles {
  margin-top: 133px;
  &__title {
    font-size: 48px;
    @extend %openSans;
  }
  &__subtitle {
    font-size: 24px;
    @extend %openSans;
    color: #666666;
    margin-top: 37px;
  }

  &__h3 {
    @extend %openSans;
    font-size: 27px;
    color: #333333;
    margin-top: 246px;
  }
}

.form__block {
  margin-top: 67px;
  &__input {
    width: 540px;
    padding: 14px 5px 15px 16px;
    background: transparent;
    border: 1px solid #666666;
    font-size: 23px;
  }
  &__button {
    @extend %roboto;
    color: #f7f7f7;
    font-size: 23px;
    background-color: #cd6326;
    padding: 16px 36px 15px 35px;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
      color: black;
    }
  }
}
